.login-form {
  margin-left: 35%;
  margin-top: 20%;
  padding: 20px;
  width: 30%;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


form .content-form {
  margin: 10px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

form {
  margin: 10px;
}

input {
  width: 90%;
}

textarea {
  /* width: ; */
}

.item-compuesto {
  display: flex;
  margin-right: 10px;
  gap: 2px;
}

.item-compuesto-id {
  width: 10%;
}

.item-compuesto-txt {
  width: 80%;
}