form .content-form {
  margin: 10px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

form {
  margin: 10px;
}

input {
  width: 90%;
  height: 25px;
}

textarea{
  height: 5.4em; 
  width: 90%;
  resize: none;
}

.item-compuesto {
  display: flex;
  margin-right: 10px;
  gap: 2px;
}

.item-compuesto-id {
  width: 10%;
}

.item-compuesto-txt {
  width: 80%;
}