/* ESTILO TITULO */

.frTable-h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 15px;
  color: #224869;
  margin: 10px 0px;
}


/* ESTILO CONTENEDORES */

form .frTable-form-max {
  background-color: white;
  color: #5e9acd;
  border-radius: 10px;
  box-shadow: rgba(94, 154, 205, 0.5) 0px 1px 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: large;
  gap: 10px;
  /* width: 100%; */
}

form .frTable-form {
  width: 100%;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* ESTILO ITEMS DEFORMULARIO */

input {
  font-size: 0.8em;
  width: 90%;
  height: 25px;
  border: 1px #dcdbe4 solid;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-bottom: 2px #5e9acd solid;
}


.frTable-form textarea {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.9em;
  height: 5.4em;
  width: 90%;
  resize: none;
  border: 1px #dcdbe4 solid;
  border-radius: 5px;
}

.frTable-form textarea:focus {
  outline: none;
  border-bottom: 2px #5e9acd solid;
}

.frTable-item-compuesto {
  display: flex;
  margin-right: 10px;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.frTable-item-compuesto-id {
  width: 10%;
}

.frTable-item-compuesto-txt {
  width: 80%;
}

.frTable-btn-modal {
  background-color: #5e9acd;
  border: none;
  padding: 7px 10px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.frTable-btn-modal:hover {
  background-color: #2475bb;
}


.frTable-btn-acction {
  font-size: 0.8em;
  /* margin-top: 10px; */
  background-color: #5e9acd;
  border: none;
  width: 150px;
  padding: 7px 10px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.frTable-btn-acction:hover {
  background-color: #2475bb;
}

.frTable-btn-close {
  /* margin-top: 10px; */
  margin-left: 10px;
  background-color: white;
  border: solid 1px #5e9acd;
  width: 150px;
  padding: 7px 10px;
  border-radius: 4px;
  color: #5e9acd;
  cursor: pointer;
}

.frTable-btn-close:hover {
  background-color: #f2f1fa;
}