/* ESTILO TITULO */

.frTable-max {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(242, 241, 250, 0.5);
}

.frTable-content {
  width: 60%;
  height: 90%;
}

.frTable-h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 15px;
  color: #224869;
  margin: 10px 0px;
}

/* NO VISIBLE UN COMPONENTE */
.frTable-noEnable {
  position: fixed;
  background-color: rebeccapurple;
}

/* ESTILO CONTENEDORES */

.frTable-form-max {
  background-color: white;
  color: #5e9acd;
  border-radius: 10px;
  box-shadow: rgba(94, 154, 205, 0.5) 0px 1px 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: large;
  gap: 10px;
  /* width: 100%; */
}

.frTable-form {
  width: 100%;
  margin: 0px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* ESTILO ITEMS DEFORMULARIO */

/* COMBOBOX */
.frTable-item-compuesto select {
  font-size: 0.9em;
  width: 75%;
  height: 30px;
  border: 1px #dcdbe4 solid;
  border-radius: 5px;
}

.frTable-item-compuesto select:focus {
  outline: none;
  border-bottom: 2px #5e9acd solid;
}

.frTable-item-compuesto-cbo select {
  font-size: 0.9em;
  width: 50%;
  height: 30px;
  border: 1px #dcdbe4 solid;
  border-radius: 5px;
}

.frTable-item-compuesto-cbo select:focus {
  outline: none;
  border-bottom: 2px #5e9acd solid;
}


input {
  font-size: 0.8em;
  width: 75%;
  height: 25px;
  border: 1px #dcdbe4 solid;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-bottom: 2px #5e9acd solid;
}


.frTable-form textarea {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.9em;
  height: 5.4em;
  width: 90%;
  resize: none;
  border: 1px #dcdbe4 solid;
  border-radius: 5px;
}

.frTable-form textarea:focus {
  outline: none;
  border-bottom: 2px #5e9acd solid;
}

.frTable-sub-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: right;
  gap: 10px;
}

.frTable-item-compuesto {
  display: flex;
  margin-right: 10px;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.frTable-item-compuesto-cbo {
  display: flex;
  margin-right: 10px;
  /* gap: 10px; */
  align-items: center;
  justify-content: space-between;
}

.frTable-item-compuesto-cbo div {
  display: flex;
  width: 75%;
  margin-right: 10px;
  gap: 10px;
  align-items: center;
}

.frTable-item-compuesto-id {
  width: 10%;
}

.frTable-item-compuesto-txt {
  width: 62%;
}

.frTable-item-compuesto-txt-cbo {
  width: 50%;
}

.frTable-btn-modal {
  background-color: #5e9acd;
  border: none;
  padding: 7px 10px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.frTable-btn-modal:hover {
  background-color: #2475bb;
}

.frTable-btn-acction {
  font-size: 0.8em;
  /* margin-top: 10px; */
  background-color: #5e9acd;
  border: none;
  width: 150px;
  padding: 7px 10px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.frTable-btn-acction:hover {
  background-color: #2475bb;
}

.frTable-btn-close {
  /* margin-top: 10px; */
  margin-left: 10px;
  background-color: white;
  border: solid 1px #5e9acd;
  width: 150px;
  padding: 7px 10px;
  border-radius: 4px;
  color: #5e9acd;
  cursor: pointer;
}

.frTable-btn-close:hover {
  background-color: #f2f1fa;
}