.navUp {
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
}

.ul-navUp {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

li {
  padding-left: 20px;
  padding-right: 20px;
}

.navleft {
  background-color: white;
  position: fixed;
  left: 0;
  top: 70px;
  width: 17%;
  height: 100%;
}

.ul-navleft {
  padding: 10px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  list-style: none;
  justify-content: space-between;
}