.swTable-max-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ESTILO DE BARRA DE BUSQUEDA */

.swTable-content-butons {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 10px;
  padding: 0px;
  margin: 0px;
}

.swTable-search-bar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.swTable-search-bar .swTable-btnSearch {
  font-size: 0.9em;
  background-color: #5e9acd;
  border: none;
  width: 150px;
  padding: 7px 10px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: #2475bb;
  }
}

.swTable-search-bar .swTable-btnNuevo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  background-color: white;
  border: solid 1px #5e9acd;
  width: 150px;
  padding: 7px 10px;
  border-radius: 4px;
  color: #5e9acd;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-color: #f2f1fa;
  }
}

.swTable-search-bar select {
  font-size: 0.9em;
  border: 1px #dcdbe4 solid;
  border-radius: 5px;
}

.swTable-search-bar input {
  font-size: 1em;
  padding: 5px;
}


/* ESTILO DE TABLA */

table.swTable-table {
  margin: 15px;
  padding: 15px;
  /* width: 100%; */
  text-align: left;
}

table.swTable-table thead {
  color: #224869;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: left;
}

table.swTable-table td,
table.swTable-table th {
  border-bottom: 1px solid #dcdbe4;
  padding: 8px 10px;
}

table.swTable-table tbody tr {
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table.swTable-table div {
  display: flex;
  flex-direction: row;
}


/* ESTILO DE BOTONES */
.swTable-btn-acction {
  font-size: 0.8em;
  /* margin-top: 10px; */
  background-color: #5e9acd;
  border: none;
  width: 150px;
  padding: 7px 10px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.swTable-btn-acction:hover {
  background-color: #2475bb;
}

.swTable-btn-close {
  /* margin-top: 10px; */
  margin-left: 10px;
  background-color: white;
  border: solid 1px #5e9acd;
  width: 150px;
  padding: 7px 10px;
  border-radius: 4px;
  color: #5e9acd;
  cursor: pointer;
  transition: 0.2s;
}

.swTable-btn-close:hover {
  background-color: #f2f1fa;
}